<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:usesCleartextTraffic="true"
        android:name="com.example.sumon.androidvolley.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity"/>
        <activity android:name="LeaderboardActivity"/>
        <activity android:name=".PlaylistGenerator"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".UserDashboardActivity"/>
        <activity android:name=".PaymentStartActivity"/>
        <activity android:name=".PaymentEndActivity"/>
        <activity android:name=".ProfilePageActivity"/>
        <activity android:name=".JsonRequestActivity" />
        <activity android:name=".ImageRequestActivity">
        </activity>
        <activity android:name = ".AvatarActivity"/>
      <activity android:name= ".picupload"/>
        <activity android:name= ".friendrequest"/>
        <activity android:name= ".pending"/>
        <activity android:name = ".UIThemeActivity"/>
        <activity android:name = ".EditPlaylist"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity android:name=".DiscoverPage"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name = ".AdminDashActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AddSongActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".SLogin"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="http://localhost:8080/api/get-user-code"
                    android:scheme="http"/>
            </intent-filter>
        </activity>




    </application>

</manifest>